@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #1D4ED8;
    --secondary-color: grey;
    --off-white: rgb(223, 223, 223);
}

/** Container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;
    padding-bottom: 2rem;
}

/** Links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.secondary-link {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

hr {
    margin: 2rem 0rem;
}

/** Lists **/

.list-non-bullet {
    list-style: none;
}

.list-items-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** Navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 00.5rem;
}

.navigation .text-align {
    color: white;
    text-align: right;
}

.navigation .navbrand {
    font-weight: bold;
    font-size: large;
}

.navigation .link-active {
    font-weight: bold;
}

/** Header **/

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    text-align: center;
    margin: auto;
}

.hero .hero-text {
    padding-top: 1rem;
    text-align: center;
    color: var(--secondary-color);
}

/** Section **/

.section{
    padding: 1rem;
}

.section h1 {
    text-align: center;
    padding: 1rem;
}

.grey{
    background-color: var(--off-white);
}

/** Footer **/

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 0.5rem;
}

.footer .footer-header {
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}